    <div class="col s4">
      {{#link-to "forward"}}<div> <i class="material-icons">&#xE314;</i> </div>{{/link-to}}
    </div>
    <div class="col s4 center-align">
      {{#link-to "index"}}<div> <i class="material-icons">&#xE88A;</i> </div>{{/link-to}}
    </div>
    <div class="col s4">
      {{#link-to "back"}}<div> <i class="material-icons">&#xE315;</i> </div>{{/link-to}}
    </div>
