<div class="footer">
  <span>Created in Ember JS by <a href="http://facebook.com/prakashchokalingam" target="_blank">Prakash Chokalingam</a> | <a href="https://github.com/prakashchokalingam/imdb-search-engine" target="_blank">Fork it on Github</a></span>
</div>
